* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}

body {
    background-color: #44af79;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

img {
    image-rendering: pixelated;
}

.saving-indicator {
    position: fixed;
    bottom: 0px;
    left: 0px;
    color: #ffffff;
    font-weight: bold;
    padding: 15px;
    font-size: 24px;
    display: block;
    opacity: 0;
}

@keyframes savingAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.main {
    width: 70%;
    height: 100vh;
    position: relative;
}

.tree {
    position: absolute;
    height: 10vh;
    cursor: url('images/cursor/axeCursorPlaceholder.png') 3 5, auto;
}

@keyframes treeGrowAnimation { /* forwards */
    0% {
        transform: translate(0px, 50%) scale(0); 
    }
    100% {
        transform: translate(0px) scale(1); 
    }
}

@keyframes treeFallAnimation { /* ease-in forwards */
    0% {
        transform: translate(0px), rotate(0deg); 
        opacity: 1;
    }
    66% {
        transform: translate(50%, 25%) rotate(90deg); 
        opacity: 1;
    }
    100% {
        transform: translate(50%, 25%) rotate(90deg); 
        opacity: 0;
    }
}


.sidebar {
    width: 30%;
    height: 100vh;
    background-color: #d5b080;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px 0px 0px 20px;
}

.wood {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    border-top: 2px solid #ffffff;
    padding: 20px;
}

.wood-display {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.wood-display-image {
    height: 64px;
}

.wood-display-amount {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

.shop-title {
    width: 100%;
    padding: 15px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    border-bottom: 2px solid #ffffff;
    color: #e3dfda;
}

.shop-sections {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #ffffff;
}

.shop-sections button {
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    font-size: 18px;
    border: none;
    background-color: #d9c2ad;
    border-radius: 10px;
}

.shop-sections button:hover {
    background-color: #dfd0c3;
}

.shop-sections button.selected {
    background-color: #b8977d;
}

.shop {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    height: 100%;
    overflow: hidden;
}

.shop .section {
    display: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding: 10px;
}

.shop-section-title {
    font-size: 24px;
    font-weight: bold;
    color: #e3dfda;
}

.shop-items {
    overflow: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.shop-items::-webkit-scrollbar {
    width: 8px;
}

.shop-items::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.3);
    border-radius: 4px;
}

.shop-item {
    width: 90%;
    padding: 15px;
    border: 5px solid #977445;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    background-color: #d3a06f;
    cursor: pointer;
}

.shop-item:hover {
    background-color: #e3b07f;
    border: 5px solid #a78455;
}

.shop-item.bought {
    opacity: 0.7;
}

.shop-item-image {
    height: 80px;
}

.shop-item-info {
    display: flex;
    flex-direction: column;
    gap: 3px;
    text-align: left;
    max-width: 240px;
}

.shop-item-name {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}

.shop-item-description {
    font-size: 14px;
    color: #f0e6d9;
}

.shop-item-stats {
    font-size: 14px;
    color: #f0e6d9;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.shop-item-cost {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.wood-cost {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
}

.soft-lock-prevention-timer {
    position: fixed;
    top: 0px;
    left: 0px;
    color: #ffffff;
    font-weight: bold;
    padding: 15px;
    font-size: 24px;
    display: none;
}